<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>e-Commerce Web Site</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-icons.css"/>
    <link rel="stylesheet" type="text/css" href="css/flickity.css"/>
</head>
<body ng-app="productapp">
<div class="wr-outer" ng-controller="productPageCtrl">
    <div class="back-btn-outer">
        <div class="back-btn">
            <a href="index.html"><span class="pe-7s-angle-left"></span></a>
        </div>
        <div class="title-text">
            <h2>Product</h2>
        </div>
    </div>
    <div class="wr-row">
        <div class="product-list wr-col">
            <ul>
                <li>
                    <div class="pr-seller">
                        <img src="{{ productAuImage }}"/>
                        <span class="pr-au-name">{{ product_seller }}</span>
                        <div class="pr-distance">
                            <span>{{ product_distance }} </span><span>away</span>
                        </div>
                    </div>
                    <div ng-if="product_image_array.length > 1" class="main-gallery">
                        <div ng-repeat="primage in product_image_array" class="gallery-cell">
                            <img src="{{ primage }}"/>
                        </div>
                    </div>
                    <div class="pr-image">
                        <img ng-if="!product_image_array" src="{{ product_image }}"/>
                        <div class="pr-image-overlay">
                            <div class="pr-title">
                                <div class="pr-details">
                                    <a class="pr-title-link">
                                        <h2>{{ product_name }}</h2>
                                        <h1>{{ product_price }}</h1>
                                    </a>
                                </div>
                                <div class="pr-social">
                                    <a href="#"><span class="pe-7s-share"></span></a>
                                    <a href="#"><span class="pe-7s-like"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pr-detail">
                        <a class="pr-likes">{{ product_likes }} likes</a>
                        <p class="pr-desc">{{ product_desc }}</p>
                        <p class="pr-hash-tags">
                            <span ng-repeat="prhashes in product_tags">#{{ prhashes }} </span>
                        </p>
                    </div>
                    <div ng-id="product_comments.length > 0" class="pr-comment-box">
                        <ul>
                            <li ng-repeat="comment in product_comments">
                                <img src="{{ comment.pr_comment_image }}"/>
                                <div>
                                    <span class="post-name">
                                        {{ comment.pr_comment_name }}
                                    </span>
                                    <span class="post-comment">
                                        {{ comment.pr_comment }}
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer-product">
    <div class="footer-comment-box">
        <input type="text" class="comment-input"/>
        <input type="button" class="comment-button" value=""/>
    </div>
</footer>
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/flickity.pkgd.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/ang_controller.js"></script>
</body>
</html>